body {
    background-color: rgb(164, 164, 164);
    margin: 0;
    font-family: Arial, sans-serif; /* A fallback font for compatibility */
}

#header {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: medium; /* Adjusted font size for mobile */
    text-shadow: 2px 2px 2px grey;
    text-align: center;
    padding: 1rem;
    background-color: rgb(115, 59, 248);
    background-image: url(wtr.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center images */
}

.col1 {
    font-family: 'Dancing Script', cursive;
    font-size: 18px; /* Adjusted font size for mobile */
    padding: 1rem;
    background-color: goldenrod;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0 5px 10px 5px;
}

.col2 {
    font-family: 'Sriracha', cursive;
    font-size: 16px; /* Adjusted font size for mobile */
    background-color: silver;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0 5px 10px 5px;
    overflow-wrap: break-word; /* Allow long words to break within the column */
}

.col2 p {
    margin-top: 0;
}

.col2 h2 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: small; /* Adjusted font size for mobile */
    text-align: center;
    margin-top: 0;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
}

footer {
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    font-size: x-large; /* Adjusted font size for mobile */
    text-shadow: 2px 2px 2px grey;
    background-color: rgb(125, 24, 125);
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 0.5rem;
}

/* Media Query for Larger Screens */
@media (min-width: 680px) {
    #header {
        font-size: xx-large;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .col1 {
        font-size: x-large;
        column-count: 2;
        column-width: auto;
        column-rule: none;
        float: left; /* Add float property to make columns side by side */
        width: calc(50% - 10px); /* Divide the available width into two columns */
        box-sizing: border-box; /* Include padding and border in the width */
        margin: 0 5px 10px 5px;
    }

    .col2 {
        font-size: larger;
        column-count: 9;
        column-width: auto;
        column-rule: none;
        float: left; /* Add float property to make columns side by side */
        width: calc(50% - 10px); /* Divide the available width into two columns */
        box-sizing: border-box; /* Include padding and border in the width */
        margin: 0 5px 10px 5px;
    }
}
